.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.js.map

package-lock.json
dist/

tempCodeRunnerFile.js

temp/

01.基础知识/作业/test.js


test.js

99-temp/

~$*.xlsx
.obsidian/
95-其他未分类/挂机/挂机脚本.md
92-安卓自动化测试/挂机脚本/tempCodeRunnerFile.py
92-安卓自动化测试/挂机脚本/__pycache__/baidu.cpython-312.pyc
92-安卓自动化测试/挂机脚本/tempCodeRunnerFile.py
92-安卓自动化测试/挂机脚本/tempCodeRunnerFile.py
